In [2]:
import mymodule.finance as finance
import numpy as np

In [113]:
# 카카오가 035720

kakao_now = finance.finance('035720')
kakao_now = int(kakao_now.replace(",",""))

In [114]:
# 모비스가 012330

mobis_now = finance.finance('012330')
mobis_now = int(mobis_now.replace(",",""))

In [115]:
list = [kakao_now,mobis_now]
list

[102000, 196500]

In [116]:
# 한 번에 하기
company_codes = ["005930", "000660", "005680"]
prices = []

for i in company_codes:
    a = finance.finance(i)
    prices.append(a)
    print(i,a)

005930 40,500
000660 65,100
005680 11,550

In [117]:
prices

['40,500', '65,100', '11,550']

In [118]:
import pandas as pd

In [119]:
d = {'codes': company_codes, 'prices': prices}
df = pd.DataFrame(data = d)
df

    codes  prices
0  005930  40,500
1  000660  65,100
2  005680  11,550

In [120]:
price = []

for n in prices:
    a = n.replace(",","")
    a = int(a)
    price.append(a)

In [121]:
df['price'] = price
df = df.drop(columns=['prices'])
df

    codes  price
0  005930  40500
1  000660  65100
2  005680  11550

In [4]:
a = finance.updown('035720')
a

'101,000'